<div>
    <div class="portfolio-container d-flex flex-row justify-content-center align-items-center">
        <div class="galleria-container right-animated">
            <img src="assets/sap-word-cloud.png" style="width: 360px; height: 275px;" />
        </div>
        <div class="detail-container left-animated">
            <p class="portfolio-type">Backend & APIs</p>
            <P class="portfolio-name">E-Commerce System </P>
            <p class="portfolio-stack-detail">Java / Spring Framework / Oracle Database / MSSQL / Groovy / Maven / JMeter / docker / Jira / Azure / Google Cloud's Apigee API Management</p>
            <p class="description">
                Proficient in developing large-scale, cloud-based E-Commerce System Solutions using SAP Hybris and the Java Spring framework, resulting in improved system stability, reliability, and optimal user experience.
                <br>Adept at evaluating system performance through JMeter testing<br>
                <br>Utilized Git for code versioning and collaboration, fostering efficient project development, maintenance, and teamwork.<br>
                <br>Created Docker images for Continuous Integration and Continuous Deployment (CI/CD) pipelines<br>
                <br>Implemented Google Cloud's Apigee API Management as a middleware and proxy for RESTful APIs<br>
            </p>
        </div>
    </div>

    <div class="portfolio-container d-flex flex-row-reverse justify-content-center align-items-center">
        <div class="galleria-container right-animated">
            <img src="assets/bank-and-financial-api-word-cloud.png" style="width: 360px; height: 275px;" />       
        </div>
        <div class="detail-container left-animated">
            <p class="portfolio-type">Backend & APIs</p>
            <P class="portfolio-name">Bank and Financial API</P>
            <p class="portfolio-stack-detail">Java / Spring Boot Framework / Gradle / Postman / RSA</p>
            <p class="description"> 
                <br>Developed a suite of RESTful APIs using the Spring Boot framework. <br>
                <br> These APIs are responsible for critical financial operations, including secure authentication mechanisms like login, one-time password (OTP), and biometric authentication. <br>
                <br>Enable account management functionalities such as creating accounts and changing passwords, fixed deposit, money transfer, foreign currency exchange, as well as facilitating the buying and selling of Exchange-Traded Funds (ETFs).<br>
                <br>The APIs were built with a strong emphasis on security, scalability, and adherence to RESTful architecture principles.<br></p>
        </div>
    </div>

    <div class="portfolio-container d-flex flex-row justify-content-start align-items-center">
        <div class="galleria-container right-animated">
            <img src="assets/erp-word-cloud.png" style="width: 400px; height: 400px;" />
        </div>
        <div class="detail-container left-animated">
            <p class="portfolio-type">Backend & APIs</p>
            <P class="portfolio-name">ERP solution for Printing industry</P>
            <p class="portfolio-stack-detail">Kotlin / Gradle / Oracle / SQL Script / ERP / Programmable Logic Controller (PLC)</p>
            <p class="description">For monitoring the productivity of a printing company by tracking the status of numerous printers and print jobs. 
                These AIPs help gather data on printer uptime, job completion rates, print volumes, and error rates. </p>
        </div>
    </div>
</div>