<div class="experience-container  d-flex flex-column justify-content-start align-items-center">
    <h1 style="color: #7f7466; font-size: 20px; text-transform: uppercase;">work experience and education</h1>
    <h1 style="color: white; font-size: 60px;">What I Do?</h1>
    <div>
      <ul #timeline tabindex="0">
        <li>
          <div>
            <time>Jul 2018</time>
            <p>Student Internship</p>
            <p>Inspur Group</p>
            <p>&#x2022; Collaboration: Successfully collaborated within the Artificial Intelligence Team.</p>
            <p>&#x2022; Data Visualization: Created impactful radar and line charts that significantly contributed to data-driven currency prediction. These visualizations provided compelling and insightful representations of complex information.</p>
          </div>
        </li>
        <li>
          <div>
            <time>Sep 2016 - Dec 2020</time>
            <p>Graduated in The Chinese university of Hong Kong</p>
            <p>Bachelor of Science in Mathematics and Information Engineering</p>
            <p>Minor in Computer Science</p>
          </div>
        </li>
        <li>
          <div>
            <time>Mar 2021 - Mar 2022</time>
            <p>Backend Software Developer</p>
            <p>A.S. Watson Group - Elab(Asia) │ Hong Kong</p>
            <p>&#x2022; Developed and maintained a large-scale eCommerce system using Java Spring.</p>
            <p>&#x2022; Conducted rigorous performance evaluations with JMeter.</p>
            <p>&#x2022; Implemented Google Cloud’s Apigee API Management for efficient RESTful APIs.</p>
            <p>&#x2022; Utilized Git for code versioning and collaborated using Atlassian tools.</p>
            <p>&#x2022; Create a docker image for CICD</p>
            <p>&#x2022; Compose queries to access data in databases</p>
          </div>
        </li>
        <li>
          <div>
            <time>Mar 2022 - Apr 2023</time>
            <p>Full-Stack Software Developer</p>
            <p>DigiDumpling Limited│ Hong Kong, China</p>
            <p>&#x2022; Managed and optimized databases using MySQL Workbench and Oracle Database, resulting in streamlined databases, optimized performance. </p>
            <p>&#x2022; Created high-quality Android and iOS mobile applications for the bank using React Native, built backend API solutions using Java with the Spring Boot framework, and deployed backend API services in Azure to provide scalability and high performance. </p>
            <p>&#x2022; Added new functionality to projects based on Vue.js and React.js </p>
            <p>&#x2022; Contributed collaboratively in an Agile startup team environment. </p>
            <p>&#x2022; Experience with managing state, using libraries like Redux. </p>
            <p>&#x2022; Successfully implemented a robust notification center within the mobile application using Firebase services. </p>
          </div>
        </li>
        <li>
          <div>
            <time>May 2023</time>
            <p>Google Data Analytics Professional Certificate</p>
            <p>&#x2022; Include hands-on, practice-based assessments and are designed to prepare them for introductory-level roles in Data Analytics. They are competent in tools and platforms including spreadsheets, SQL, Tableau, and R. They know how to prepare, process, analyze, and share data for thoughtful action.</p>
          </div>
        </li>
        <li>
          <div>
            <time>Feb 2024</time>
            <p>Microsoft Azure AI Fundamentals Professional Certificate (AI-900)</p>
          </div>
        </li>
        <li>
          <div>
            <time>April 2024</time>
            <p>IBM Data Analyst Professional Certificate</p>
            <p>&#x2022; Understands the core principles of data analysis and has worked hands-on with a variety of data sources, project scenarios, and data analysis tools, including Excel, SQL, Relational Databases, Python, Jupyter Notebooks, and Cognos Analytics, gaining practical experience with data manipulation, data analysis, and data visualization.</p>
            <p>&#x2022; Proficiency in applying different analytical techniques by analyzing real-world datasets, creating visualizations & interactive dashboards, and presenting reports to share findings of data analysis, and is now equipped with skills for an entry-level role in data analytics.</p>
          </div>
        </li>
        <li>
          <div>
            <time>Jan 2024 - Apr 2024</time>
            <p>Junior Data Analyst Program</p>
            <p>NPower Canada │ Toronto, ON</p>
            <p>14-week intensive online training on the fundamentals of computer technology, and project management</p>
            <p>&#x2022; Develop a working knowledge of Python language for data analysis using Pandas and Numpy.</p>
            <p>&#x2022; Visualize data using Python libraries including Matplotlib, Seaborn, Plotly, and Dash.</p>
            <p>&#x2022; Utilize Excel spreadsheets to perform data wrangling and data mining.</p>
            <p>&#x2022; Explain cloud concepts, benefits of cloud computing, and core Azure architecture components.</p>
            <p>&#x2022; Use core Azure services and choose the Azure AI services that best address a company’s challenges.</p>
            <p>&#x2022; Control Azure spending and managing bills by applying recommended practices to minimize cost.</p>
          </div>
        </li>
        <li>
          <div>
            <time>Mar 2024 - Current</time>
            <p>Volunteer</p>
            <p>105 Gibson Centre │ Toronto, ON</p>
            <p>&#x2022; Admin support, campaign, and event helpers are needed.</p>
            <p>&#x2022; Event set up, take down & clean up, greeting.</p>
            <p>&#x2022; Welcome guests and clients. Answer phone and client inquiries. Provide administrative support and data entry</p>
            <p>&#x2022; Perform handy work. Repair various equipment in the centre. Assist with building maintenance.</p>
          </div>
        </li>
      </ul>
      
    </div>
</div>