<div class="about-me-container d-flex flex-column justify-content-start align-items-center">
    <h1 style="color: #7f7466; font-size: 20px;">BIOGRAPHY</h1>
    <h1 style="color: white; font-size: 60px;">Who am I?</h1>
    <div class="vertical-box"></div>
    <div class="infro-container d-flex flex-row justify-content-center align-items-start ">
        <div class="img-box right-animated">
            <img class="group-img" src="assets/group.png">
            <img class="intro-me-img" src="assets/intro-me.png">
            <img class="ellipse-img" src="assets/ellipse.png">
        </div>
        <div class="intro-box d-flex flex-column justify-content-start align-items-start left-animated">
            <span style="color: #dac5a7; font-weight: bold;">About me</span>
            <span style="font-weight: bold; font-size: 30px; line-height: 2.8;">Lucas Ho's Details</span>
            <span style="color: #7f7466; font-size: 20px;">
                I have over 2 years of experience providing excellent Full-Stack software development services. My expertise lies in designing, developing, and deploying diverse software, with a focus on Mobile and Web Applications, Database Management Systems, E-commerce Platforms, API Integrations, and Cloud-Based Solutions.
            </span>
            <div class="information-box d-flex flex-column justify-content-around align-items-center">
                <div class="information-box-s d-flex flex-row justify-content-around align-items-center">
                    <a class="button">
                        <span>Name</span>
                        <span>Lucas Ho</span>
                    </a>
                    <a class="button">
                        <span>Email</span>
                        <span>hoyingwa9798&#64;gmail.com</span>
                    </a>
                </div>
                <div class="information-box-s d-flex flex-row justify-content-around align-items-center">
                    <a class="button">
                        <span>Address</span>
                        <span>Toronto, Canada</span>
                    </a>
                    <a class="button">
                        <span>Phone No.</span>
                        <span>+1(437)-663-9930</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>